*{
	padding: 0;
	margin: 0;
	border: 0;
}

body {

	font-family: 'Open Sans', sans-serif;
}

nav .nav, nav .nav-logo{
	

	display: inline-block;
}
.right-nav{
	float: right;
	
 /* margin-top: 2rem;*/
  position: relative;
  margin-left: 6rem;

}
.tuitt-button{
	background-color: #c2195b;
	padding: 10px;
	border-radius: 20px;
	color: white;

}
.nav-logo{
	margin-top: 0.5rem;
	margin-left:2rem;
	
}

.nav{
	padding: 6px;

}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	width:  100vw;
	height: 50vh;
	background-size: 100rem;
	background-repeat: no-repeat;
	background-position: left;

}
.front-bg{
	background-color: black;
	opacity: 60%;
	height: 50vh;
}
.container{
	margin-left: 4rem;	
	color: white;
	border: 1px solid black;
	display: inline-block;
	float: right;
	
}
.title{
	margin-top: 2rem;
	margin-right: 8rem;
	font-size: 40px;
	z-index: 2;
}
.subtitle{
	
	
	font-size: 15px;
}
.apply-button{
	background-color: #c2195b;
	padding: 15px;
	border-radius: 20px;
	color: white;
	z-index: 1;
	margin-top: 20px;
	float: right;
	margin-right: 25rem;
	opacity: 100%;

}
.title{
	font-family: 'Zilla Slab', sans-serif;
}
.title-2{
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
	margin-bottom: 5rem;
}

.intro-description{
	text-align: center;
	width: 500px;
	margin-left: 34rem;
}

.pre-footer{
	margin-top: 5rem;
	background-color: #f7fbfb;
	text-align: center;

}

.prefooter-description{
	text-align: center;
}

.book-button{
	text-align: center;
	background-color: #336589;
	padding: 10px;
	border-radius: 20px;
	color: white;
}